body {

background: linear-gradient(135deg, #4b2ff6, #9d50bb, #6eebf4, #4b2ff6);
background-size: 400% 400%; /* Enlarges the gradient for smooth animation */
animation: gradientAnimation 8s ease infinite; /* Creates moving effect */
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-family: Arial, sans-serif;
position: relative;
    
}
      
@keyframes gradientAnimation {
    
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
    
}
    
h1{
    
text-align: center;
font-family: 'roboto condensed', sans-serif;
font-size: 400%;
z-index: 1;
    
}
    
.container{
    
top: 10.5%;
position: absolute;
text-align: center;
height: 185%;
width: 90%;
background-color: black;
z-index: -1;
border-radius: 30px;
    
}

.container2{
    
top: 10.5%;
position: absolute;
text-align: center;
height: 205%;
width: 90%;
background-color: black;
z-index: -1;
border-radius: 30px;
        
}

.container3{
    
    top: 10.5%;
    position: absolute;
    text-align: center;
    height: 140%;
    width: 90%;
    background-color: black;
    z-index: -1;
    border-radius: 30px;
            
}

.heading{

position: absolute;
margin-top: -10%;
text-align: center;

}

.heading2{

position: absolute;
margin-top: -10%;
text-align: center;
    
}

.biglogo{

width: 80%;
height: auto;

}

.heading p{

margin-top: -20%;
font-size: 150%;

}

nav{

position: absolute;
top: 15%;
left: 50%;
transform: translateX(-50%);
width: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
z-index: 1000;
font-size: 250%;

}

nav ul{

display: flex;
list-style: none;
margin: 0;
padding: 0;
align-items: center;
font-size: 120%;

}

nav ul li {

margin: 0 5px;

}

nav ul a{

color: white;
padding: 10px 10px;
font-size: 50%;
text-decoration: none;

}

nav > a{

color: white;

}

nav a{

text-decoration: none;

}

nav a.current{

text-decoration: underline;

}

.about{

margin-top: 10%;
text-align: center;
width: 100%;
max-width: 80%;

}

.about h1{

font-size: 350%;

}

.about p{

font-size: 115%;

}

.memcontainer{

position: absolute;
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
gap: 60px;
margin-top: 28%;

}

.memcontainer2{

position: absolute;
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
gap: 60px;
margin-top: 88%;
    
}

.mem{

width: 200px;
background-color: #f0f0f0;
border-radius: 8px;
overflow: hidden;
margin: 10px;
text-align: center;

}

.mem img{

width: 100%;
height: auto;

}

.memcontent{

padding: 16px;

}

.memcontent h2{

font-size: 20px;
margin-bottom: 8px;
color: black;

}

.memcontent .btn{

display: inline-block;
padding: 8px 16px;
background-color: #333;
text-decoration: none;
border-radius: 4px;
margin-top: 16px;
color: #fff;

}

.page{

position: absolute;
top: 175%;
left: 50%;
transform: translateX(-50%);
width: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
z-index: 1000;
font-size: 250%;
    
}
    
.page ul{
    
display: flex;
list-style: none;
margin: 0;
padding: 0;
align-items: center;
font-size: 120%;
    
}
    
.page ul li {
    
margin: 0 5px;
    
}
    
.page ul a{
    
color: white;
padding: 10px 10px;
font-size: 50%;
text-decoration: none;
    
}
    
.pages > a{
    
color: white;
    
}
    
.page a{
    
text-decoration: none;
    
}

.page a.current{
    
text-decoration: underline;
        
}

.whitespace{

margin-top: 150%;

}

.whitespace2{

margin-top: 170%;
    
}

.whitespace3{

margin-top: 108%;
        
}

.whit{

margin-top: -11px;
color: #f0f0f0;

}

.unitcontainer{

position: absolute;
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
gap: 35px;
margin-top: 21%;
    
}
    
.unitcontainer2{
    
position: absolute;
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
gap: 35px;
margin-top: 71%;
        
}
    
.unitcontainer3{
    
position: absolute;
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
gap: 35px;
margin-top: 122%;
            
}
    
.unit{
    
width: 200px;
background-color: #f0f0f0;
border-radius: 8px;
overflow: hidden;
margin: 10px;
text-align: center;
    
}
    
.unit img{
    
width: 100%;
height: auto;
    
}
    
.memcontent{
    
padding: 16px;
    
}
    
.memcontent h2{
    
font-size: 20px;
margin-bottom: 8px;
color: black;
    
}
    
.memcontent .btn{
    
display: inline-block;
padding: 8px 16px;
background-color: #333;
text-decoration: none;
border-radius: 4px;
margin-top: 16px;
color: #fff;
transition: 0.2s ease-in-out;

    
}

.btn:hover{

transform: scale(1.05, 1.05);
background-color: black;

}

.album{

text-align: center;
margin-top: 55%;

}

.album p{

font-size: 180%;

}

.album2{

text-align: center;
margin-top: 55%;
    
}
    
.album2 p{
    
font-size: 125%;
    
}    

.album3{

text-align: center;
margin-top: 35%;
        
}

.album3 p{
    
font-size: 125%;
        
}    

#titlet{

font-size: 270%;

}

#trackl{

font-size: 260%;

}

.songnav{

display: flex;
justify-content: center;
padding: 0;
margin: 0;
font-size: 300%;
margin-top: 75%;
text-decoration: none;

}

.songnav ul{

display: flex;
gap: 50px;
list-style-type: none;
padding: 0;
margin: 0;

}

.songnav ul li{

text-align: center;

}

.songnav2{

display: flex;
justify-content: center;
padding: 0;
margin: 0;
font-size: 300%;
margin-top: 55%;
text-decoration: none;
    
}
    
.songnav2 ul{
    
display: flex;
gap: 50px;
list-style-type: none;
padding: 0;
margin: 0;
    
}
    
.songnav2 ul li{
    
text-align: center;
    
}